<div>
    <h2>
        <span>People</span>
        <button class="btn btn-primary float-right jh-create-entity create-person-access" [routerLink]="['/', { outlets: { popup: ['person-access-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down" >
            Create new Person
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="people">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Pic</span></th>
            <th><span>Type</span></th>
            <th><span>User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let person of people ;trackBy: trackId">
                <td><a [routerLink]="['../person-access', person.id ]">{{person.id}}</a></td>
                <td>
                    <a *ngIf="person.pic" (click)="openFile(person.picContentType, person.pic)">
                        <img [src]="'data:' + person.picContentType + ';base64,' + person.pic" style="max-height: 30px;" alt="person image"/>
                    </a>
                    <span *ngIf="person.pic">{{person.picContentType}}, {{byteSize(person.pic)}}</span>
                </td>
                <td>{{person.type}}</td>
                <td>
                    {{person.userId}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../person-access', person.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'person-access/'+ person.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'person-access/'+ person.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
