<div>
    <h2>
        <span>Comments</span>
        <button class="btn btn-primary float-right jh-create-entity create-comment-access" [routerLink]="['/', { outlets: { popup: ['comment-access-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down" >
            Create new Comment
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="comments">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Title</span></th>
            <th><span>Text</span></th>
            <th><span>Date</span></th>
            <th><span>Person</span></th>
            <th><span>Site</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let comment of comments ;trackBy: trackId">
                <td><a [routerLink]="['../comment-access', comment.id ]">{{comment.id}}</a></td>
                <td>{{comment.title}}</td>
                <td>{{comment.text}}</td>
                <td>{{comment.date | date:'medium'}}</td>
                <td>
                    <div *ngIf="comment.personId">
                        <a [routerLink]="['../person-access', comment.personId  ]" >{{comment.personId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="comment.siteId">
                        <a [routerLink]="['../site-access', comment.siteId  ]" >{{comment.siteId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../comment-access', comment.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'comment-access/'+ comment.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'comment-access/'+ comment.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
